# Set ASSIGNMENT

In [4]:
s=set(range(1, 11))
print(s)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [5]:
s.add(11)
s.remove(1)
print(f"Modified set : {s}")

Modified set : {2, 3, 4, 5, 6, 7, 8, 9, 10, 11}

In [ ]:
# set oparetion
set1 = set(range(1, 6))
set2 = set(range(0, 11, 2))

print(f"A = {set1}, B = {set2}")
print(f"Union = {set1.union(set2)}")
print(f"Intersection = {set1.intersection(set2)}")
print(f"Difference = {set1.difference(set2)}")
print(f"U of !I = {set1.symmetric_difference(set2)}")

A = {1, 2, 3, 4, 5}, B = {0, 2, 4, 6, 8, 10}
Union = {0, 1, 2, 3, 4, 5, 6, 8, 10}
Intersection = {2, 4}
Difference = {1, 3, 5}
U of !I = {0, 1, 3, 5, 6, 8, 10}

In [17]:
import random 

set1 = set(random.randint(20, 50) for _ in range(10))
set2 = set(random.randint(30, 60) for _ in range(15))
print(f"A = {set1}\
       B = {set2}")
print(f"Union = {set1.union(set2)}")
print(f"Intersection = {set1.intersection(set2)}")
print(f"Difference = {set1.difference(set2)}")
print(f"U of !I = {set1.symmetric_difference(set2)}")

A = {33, 38, 42, 44, 46, 20, 23, 27, 30}       B = {33, 34, 35, 38, 39, 44, 46, 55, 58, 31}
Union = {20, 23, 27, 30, 31, 33, 34, 35, 38, 39, 42, 44, 46, 55, 58}
Intersection = {46, 33, 44, 38}
Difference = {42, 20, 23, 27, 30}
U of !I = {34, 35, 39, 42, 20, 23, 55, 58, 27, 30, 31}

In [21]:
square = {x**2 for x in range(11, 20)}
print(sorted(square))

[121, 144, 169, 196, 225, 256, 289, 324, 361]

In [25]:
s1 = {x for x in set1 if x%2==0}
print(sorted(s1))

[20, 30, 38, 42, 44, 46]

In [28]:
# make a tuple and make it's element unique
import random
tpl = tuple(random.randint(1, 7) for _ in range(25))
print(f"Tuple = {sorted(tpl)}")
print(f"Unique Tuple = {tuple(set(tpl))}")

Tuple = [1, 1, 1, 2, 2, 2, 3, 3, 3, 3, 3, 3, 4, 4, 4, 5, 5, 5, 5, 6, 6, 6, 6, 6, 7]
Unique Tuple = (1, 2, 3, 4, 5, 6, 7)

In [33]:
# subset and superset
import random 

set1 = set(random.randint(1, 7) for _ in range(28))
set2 = set(random.randint(1, 15) for _ in range(40))

print(f"A = {set1}, B = {set2}")
print(f"Is Subset = {set1.issubset(set2)}")
print(f"Is Superset = {set1.issuperset(set2)}")
print(f"Is Subset = {set2.issubset(set1)}")
print(f"Is Superset = {set2.issuperset(set1)}")

A = {1, 3, 4, 5, 6, 7}, B = {1, 3, 4, 5, 6, 7, 8, 9, 11, 12, 13, 14, 15}
Is Subset = True
Is Superset = False
Is Subset = False
Is Superset = True

In [35]:
# print first 5 num frozenset
fs = frozenset(range(1, 6))

print(f"Frozenset = {fs}")

Frozenset = frozenset({1, 2, 3, 4, 5})

In [37]:
lst = list(fs)
lst.append(6)
print(frozenset(lst))

frozenset({1, 2, 3, 4, 5, 6})

In [38]:
# create a dictonairy in set key
d = {
    frozenset({1, 2}): 3,
    frozenset({4, 5}): 6,
    frozenset({7, 8}): 9
}
print(d)

{frozenset({1, 2}): 3, frozenset({4, 5}): 6, frozenset({8, 7}): 9}

In [40]:
# print each element of a set
for elem in fs:
    print(elem)

1
2
3
4
5

In [41]:
# print and remove a set elem untill empty
set3 = {x*1.5 for x in range(0, 7)}

while set3:
    set3.pop()
    print(set3)

{1.5, 3.0, 4.5, 6.0, 7.5, 9.0}
{3.0, 4.5, 6.0, 7.5, 9.0}
{4.5, 6.0, 7.5, 9.0}
{6.0, 7.5, 9.0}
{7.5, 9.0}
{9.0}
set()

In [44]:
# A|B - A&B
set4 = {5, 6, 7, 8 , 9}
set5 = {1, 2, 3, 4, 5, 6}

set4.symmetric_difference_update(set5)
set4

{1, 2, 3, 4, 7, 8, 9}

In [47]:
# set of tuple element
set6 = {(1, 3), (5, 7), (9, 0)}
print(sorted(set6))

[(1, 3), (5, 7), (9, 0)]

# DICT ASSIGNMENT

In [7]:
# create a dict with first int key and their square
sq = {i:i**2 for i in range(1,20,2)}
print(sq)

{1: 1, 3: 9, 5: 25, 7: 49, 9: 81, 11: 121, 13: 169, 15: 225, 17: 289, 19: 361}

In [8]:
print(f"Accessing value of key 5 element : {sq[5]}")
print(f"All keys of dict : {list(sq.keys())}")
sq[20]=400
del sq[1]
print(f"Modified dict : {sq}")

Accessing value of key 5 element : 25
All keys of dict : [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]
Modified dict : {3: 9, 5: 25, 7: 49, 9: 81, 11: 121, 13: 169, 15: 225, 17: 289, 19: 361, 20: 400}

In [9]:
# Iterate the dict element
for i,j in sq.items():
    print(f"Key - {i}, Value - {j}")

Key - 3, Value - 9
Key - 5, Value - 25
Key - 7, Value - 49
Key - 9, Value - 81
Key - 11, Value - 121
Key - 13, Value - 169
Key - 15, Value - 225
Key - 17, Value - 289
Key - 19, Value - 361
Key - 20, Value - 400

In [15]:
print({x:x**3 for x in sorted((1, 0, 9, 11, 2.5, 5, 100, 0.0, 7))})

{0: 0.0, 1: 1, 2.5: 15.625, 5: 125, 7: 343, 9: 729, 11: 1331, 100: 1000000}

In [17]:
# merging two dict
sq2 = {p:p**2 for p in range(11, 30, 2)}
sq.update(sq2)
for i,j in sq.items():
    print(f"Key - {i}, Value - {j}")

Key - 3, Value - 9
Key - 5, Value - 25
Key - 7, Value - 49
Key - 9, Value - 81
Key - 11, Value - 121
Key - 13, Value - 169
Key - 15, Value - 225
Key - 17, Value - 289
Key - 19, Value - 361
Key - 20, Value - 400
Key - 21, Value - 441
Key - 23, Value - 529
Key - 25, Value - 625
Key - 27, Value - 729
Key - 29, Value - 841

In [33]:
# Nested dict
n_dict = {
    "fr":{
        "me",
        "bro"
    },
    "expectation":{"family+me"},
    "skill_ability":{"wanna to do"},
    "learn_lesson":{
        "I",
        "bro",
        "lord_krishna"
    }

}

print(n_dict)

{'fr': {'me', 'bro'}, 'expectation': {'family+me'}, 'skill_ability': {'wanna to do'}, 'learn_lesson': {'lord_krishna', 'I', 'bro'}}

In [34]:
#Iterate nested dict
for n_k,n_v in n_dict.items():
    print(f"{n_k} : {n_v}")
    for k in n_v:
        print(f"Q - {n_k}, ANS - {k}")

fr : {'me', 'bro'}
Q - fr, ANS - me
Q - fr, ANS - bro
expectation : {'family+me'}
Q - expectation, ANS - family+me
skill_ability : {'wanna to do'}
Q - skill_ability, ANS - wanna to do
learn_lesson : {'lord_krishna', 'I', 'bro'}
Q - learn_lesson, ANS - lord_krishna
Q - learn_lesson, ANS - I
Q - learn_lesson, ANS - bro

In [ ]:
# dict of list
dict_tpl = {i:[i*j for j in range(0, 6)] for i in range(0, 9, 2)}
for i, j in dict_tpl.items():
    print(f"THE MULTIPLE OF {i} is : {j}")
print(f"Dict_list : {dict_tpl}")

THE MULTIPLE OF 0 is : [0, 0, 0, 0, 0, 0]
THE MULTIPLE OF 2 is : [0, 2, 4, 6, 8, 10]
THE MULTIPLE OF 4 is : [0, 4, 8, 12, 16, 20]
THE MULTIPLE OF 6 is : [0, 6, 12, 18, 24, 30]
THE MULTIPLE OF 8 is : [0, 8, 16, 24, 32, 40]
Dict_list : {0: [0, 0, 0, 0, 0, 0], 2: [0, 2, 4, 6, 8, 10], 4: [0, 4, 8, 12, 16, 20], 6: [0, 6, 12, 18, 24, 30], 8: [0, 8, 16, 24, 32, 40]}

In [52]:
# dict of tuple
dict_tpl = {i:(i, i*i) for i in range(0, 9)}
for i, j in dict_tpl.items():
    print(f"THE SQUARE OF {i} is : {j}")
print(f"Dict_tp : {dict_tpl}")

THE SQUARE OF 0 is : (0, 0)
THE SQUARE OF 1 is : (1, 1)
THE SQUARE OF 2 is : (2, 4)
THE SQUARE OF 3 is : (3, 9)
THE SQUARE OF 4 is : (4, 16)
THE SQUARE OF 5 is : (5, 25)
THE SQUARE OF 6 is : (6, 36)
THE SQUARE OF 7 is : (7, 49)
THE SQUARE OF 8 is : (8, 64)
Dict_tp : {0: (0, 0), 1: (1, 1), 2: (2, 4), 3: (3, 9), 4: (4, 16), 5: (5, 25), 6: (6, 36), 7: (7, 49), 8: (8, 64)}

In [53]:
# list conversion
d = {i:i**3 for i in range(1, 10, 2)}
list_of_tpl = print(list(d.items()))

[(1, 1), (3, 27), (5, 125), (7, 343), (9, 729)]

In [54]:
print(tuple(d.items()))

((1, 1), (3, 27), (5, 125), (7, 343), (9, 729))

In [58]:
# make a condetion in key vakue
even = {i : j for i,j in dict_tpl.items() if i%2 == 0}
print(even)

{0: (0, 0), 2: (2, 4), 4: (4, 16), 6: (6, 36), 8: (8, 64)}

In [60]:
# swapped dict
swapped = {i:j for j,i in sq.items()}

print(swapped)

{9: 3, 25: 5, 49: 7, 81: 9, 121: 11, 169: 13, 225: 15, 289: 17, 361: 19, 400: 20, 441: 21, 529: 23, 625: 25, 729: 27, 841: 29}

In [ ]:
# defualt dict
from collections import defaultdict

default_d = defaultdict(list)
default_d["a"].append(1)
default_d["a"].append(2)
default_d["b"].append(3)
default_d["z"].append(0)

print(default_d)

defaultdict(<class 'list'>, {'a': [1, 2], 'b': [3], 'z': [0]})

In [66]:
# counting with dictonary
def count_chars(s):
    count_dict = {}
    for char in s:
        count_dict[char]=count_dict.get(char, 0) + 1
    return count_dict

string = "hii python "
print(count_chars(string))

{'h': 2, 'i': 2, ' ': 2, 'p': 1, 'y': 1, 't': 1, 'o': 1, 'n': 1}

In [68]:
# converting dict to json and import
import json

book = {
    'title' : 'Living with times',
    'author' : 'B_temporary',
    'year' : 2025,
    'genre' : 'Imaginary'
}

json_dict = json.dumps(book)
print(json_dict)

{"title": "Living with times", "author": "B_temporary", "year": 2025, "genre": "Imaginary"}