# Tuple ASSIGNMENT

In [2]:
tpl = tuple(range(1, 11))
print(tpl)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [4]:
print(f"First element : {tpl[0]}")
print(f"Middle element : {tpl[len(tpl)//2]}")
print(f"Last element : {tpl[-1]}")

First element : 1
Middle element : 6
Last element : 10

In [8]:
print(tpl[:3]) # first three
print(tpl[-3:]) # last three
print(tpl[2:6]) # index from 2-5

(1, 2, 3)
(8, 9, 10)
(3, 4, 5, 6)

In [23]:
# make a matrix amd print a23 element
# create a tuple of tuple = matrix
matrix = (
    (2, 4, 6),
    (32, 443, 543),
    (21, 34, 0)
)
print("Matrix (tpl_of_tpl):")
for i in matrix:
    print(i)
print(f"Second row third coluomn element is {matrix[1][2]}")

Matrix (tpl_of_tpl):
(2, 4, 6)
(32, 443, 543)
(21, 34, 0)
Second row third coluomn element is 543

In [11]:
tpl_2 = (333, 443, 535, 35465)
tpl + tpl_2

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 333, 443, 535, 35465)

In [14]:
tpl_1 = (2, 3, 3, 4, 2, 3, 4, 5, 2 ,1, 3, 4, 1, 3, 4, 3, 2, 3, 3, 3, 3, 3, 3, 3,3, 3, 3,3, 4 , 4, 3, 2, 2, 1)
print(f"{tpl_1.count(3)}times three appear in tuple.")
print(f"{tpl_1.index(2)} is index of two.")

18times three appear in tuple.
0 is index of two.

In [22]:
# Unpacking of an tuple element
a, b, c = matrix
print(a); print(b); print(c)

(2, 4, 6)
(32, 443, 543)
(21, 34, 0)

In [26]:
# converting and appends 
tpl = tuple(range(1,5))
print(f"tpl_original {tpl}")
lst = list(tpl)
lst.append(15)
print(f"tpl_2_lst {lst}")
tpl = tuple(lst)
print(f"new_tpl {tpl}")

tpl_original (1, 2, 3, 4)
tpl_2_lst [1, 2, 3, 4, 15]
new_tpl (1, 2, 3, 4, 15)

In [32]:
# add str in tpl and join it
string = "Oyee !"
matrix = tuple(string)
joined = ''.join(matrix)
print(joined)
print(matrix)

Oyee !
('O', 'y', 'e', 'e', ' ', '!')

In [ ]:
# tuple with dict
dict_tpl = {
    ("hii", "hello"): "Oyee",
    ("fine ?", "okky ?"): ".",
    (str(1)+"st", str(2)+"nd"): "Bro"
}
print(dict_tpl)
for i in dict_tpl:
    print(f"{i} : {dict_tpl.values()}")

{('hii', 'hello'): 'Oyee', ('fine ?', 'okky ?'): '.', ('1st', '2nd'): 'Bro'}
('hii', 'hello') : dict_values(['Oyee', '.', 'Bro'])
('fine ?', 'okky ?') : dict_values(['Oyee', '.', 'Bro'])
('1st', '2nd') : dict_values(['Oyee', '.', 'Bro'])

In [61]:
# access each elment of a tuple matrix

mat_tpl = (
    ("hii", "hello", 0),
    ("fine ?", "okky ?", 1),
    (str(1)+"st", str(2)+"nd", 0.0)
)

for i in mat_tpl:
    for j in i:
        print(j)

hii
hello
0
fine ?
okky ?
1
1st
2nd
0.0

In [ ]:
# removing duplicates and convert to set

In [63]:
print(tpl_1)
unique_set = set(tpl_1)
print(unique_set)

(2, 3, 3, 4, 2, 3, 4, 5, 2, 1, 3, 4, 1, 3, 4, 3, 2, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 4, 4, 3, 2, 2, 1)
{1, 2, 3, 4, 5}

In [66]:
# make an random tuple and find their min, max, sum of element
def min_tpl(i):
    return min(i)

def max_tpl(i):
    return max(i)

def sum_tpl(i):
    return sum(i)


import random

random_tpl = tuple(random.randint(1, 100) for _ in range(20))

print(random_tpl)
print(f"Min value is {min_tpl(random_tpl)}")
print(f"Max value is {max_tpl(random_tpl)}")
print(f"Sum is {sum_tpl(random_tpl)}")

(1, 50, 46, 34, 46, 88, 14, 48, 47, 23, 98, 50, 25, 72, 96, 7, 2, 8, 34, 7)
Min value is 1
Max value is 98
Sum is 796