## Tuple

In [8]:
tpl = tuple()
st = set('empty')
lst = list()

print(tpl)
print(st)
print(lst)

()
{'e', 'y', 'p', 't', 'm'}
[]

In [9]:
#tuple opration
tpl_1 = (2, 3, 5, 'lakhan', 3.14, True)
tpl_2 = ('a', 'b', 'c')

tpl_1 + tpl_2

(2, 3, 5, 'lakhan', 3.14, True, 'a', 'b', 'c')

In [13]:
tpl_1 * 3

(2,
 3,
 5,
 'lakhan',
 3.14,
 True,
 2,
 3,
 5,
 'lakhan',
 3.14,
 True,
 2,
 3,
 5,
 'lakhan',
 3.14,
 True)

In [14]:
#tuple are immutable but we use some methods like .count and .index
# packing and unpacking of tuple

packed_tuple = 2, 3.14, 'oyee', True
print(packed_tuple)

(2, 3.14, 'oyee', True)

In [15]:
# Unpacking
a, b, c, d = packed_tuple
print(a); print(b); print(c); print(d)

2
3.14
oyee
True

In [ ]:
num = (1,3,4,5,6,8,22,66,7,14)
i, *mid, j=num
print(i); print(mid); print(j)   #using *

1
[3, 4, 5, 6, 8, 22, 66, 7]
14

In [21]:
# Nested tuple

lst = [(2,3,5,2), ['a', 'b', 'c'], {3, 3.14, True, False}]

print(lst)
print(lst[1][2])
print(lst[2])

[(2, 3, 5, 2), ['a', 'b', 'c'], {3, True, 3.14, False}]
c
{3, True, 3.14, False}

In [22]:
# Iterating over nested 
for sub_lst in lst:
    for item in sub_lst:
        print(item, end = ' ')
    print( )

2 3 5 2
a b c
3 True 3.14 False

## SETS

In [21]:
# Using some oparetion on sets
my_set= {1,2,3,4,6,8,4,23,2,2,1,1,2,1,4,2,1,2}

my_set.pop()
print(my_set)
print(1 in my_set)
print(3 in my_set)
print(56 in my_set)
print(2 in my_set)

{2, 3, 4, 6, 23, 8}
False
True
False
True

In [ ]:
set1 = {2, 44, 22, 11, 33, 2, 66, 00, 99}
set2 = {55, 1,3, 44, 55,77, 88, 1011, 4, 11, 2, 0}

I = set1.intersection(set2)
U = set1.union(set2)

print(f"set1 | set2 = {sorted(U)}")
print(f"set1 & set2 = {I}")

set1.intersection_update(set2)  # changed set1 element to common ele of set2 
print(set1); print(set2)

set1 | set2 = [0, 1, 2, 3, 4, 11, 22, 33, 44, 55, 66, 77, 88, 99, 1011]
set1 & set2 = {0, 2, 11, 44}
{0, 2, 11, 44}
{0, 1, 2, 3, 4, 11, 44, 77, 1011, 55, 88}

In [30]:
# difference of sets
set1 = {2, 44, 22, 11, 33, 2, 66, 00, 99}
set2 = {55, 1,3, 44, 55,77, 88, 1011, 4, 11, 2, 0}

print(set1.difference(set2)) # its set1 - set2 (only set1)

{33, 66, 99, 22}

In [31]:
# A|B - A&B

set1.symmetric_difference(set2)

{1, 3, 4, 22, 33, 55, 66, 77, 88, 99, 1011}

In [36]:
# Sets methods

# is subset
s1 = {1,2,4,3,4,5,7,6,8,9}
s2= {1,2,3}
print(s1.issubset(set2))

# is superset
print(s1.issuperset(s2))

False
True

In [38]:
lst = [2, 3,4,2,3, 2,3,2,1,2]
print(list(set(lst)))    # remove all duplicate element in list

[1, 2, 3, 4]

In [40]:
# counting unique words in txt

txt = "In This Python Code We Are Learing About Sets"
words = txt.split()
unique = set(words)
print(sorted(unique))
print(len(unique))

['About', 'Are', 'Code', 'In', 'Learing', 'Python', 'Sets', 'This', 'We']
9