## Comments

In [1]:
## its single line commment

In [2]:
''' it's multi line comment '''
print("hii, python")

hii, python

In [3]:
name = "lakhan"
var = "lal"
print(var)
print(name)
NAme = name + " " + var
NAme

lal
lakhan

'lakhan lal'

In [16]:
## now we use some indentation
age = 18
Class = 12
if age>15:
 
    print(age)
if Class>20:
  
    print(Class)

print(age)
print(Class)

18
18
12

In [17]:
sum1 =1+25+9+5*\
5-1-25-9
print(sum1)

25

In [18]:
## use semicolon for code multi statement in single line
x=1; y = 9; z= 10; a = x+y-z 
print(x+y)
print(a); print(x-z)

10
0
-9

In [19]:
## some of indentation example in code
if True:
    print("Correct Indentation")
    if False:
        print("thiss ont print")
    print("This will print")
print("This will print because it is outside of if state")

Correct Indentation
This will print
This will print because it is outside of if state

## Condetional statement and loop

In [3]:
age = 18 

if age>=20:
    print('You are man now')
elif age>=18:
    print('Now i am eligable to voting')
else :
    print('I am minor now')

Now i am eligable to voting

In [4]:
# find odd, even, +ve , or -ve num
num = int(input("Enter a number : "))

print(f"num is {num}")
if num>=0:
    print("It's a positive number")
    if num % 2==0:
        print("It's an even number")
    else :
        print("It's an odd number")
else : 
    print("It's zero or negative number")

num is 45
It's a positive number
It's an odd number

In [5]:
# find a leap year 
year = int(input("Enter a year : "))

if year % 4 ==0:
    if year % 100==0:
        if year % 400==0:
            print(year, "is a leap yaer")
        else :
            print(year, "is not a leap year")
    print(year, "is a leap year")
else :
    print(year, "is not a leap year")

2028 is a leap year

In [6]:
## Simple calculator 
num1 = int(input("Enter first number: "))
num2 = int(input("Enter second number: "))
opration = input("Enter the opretion (+, -, *, **, /, %) : ")


if opration == "+":
    result = num1 + num2 
elif opration=="-":
    result = num1 - num2 
elif opration=="*":
    result = num1 * num2 
elif opration=="/":
    result = num1 / num2
elif opration=="**":
    result = num1 ** num2 
elif opration=="%":
    result = num1 % num2
print("first : ", num1)
print("second :", num2)
print("opretion :", opration)
print(result)

first :  5
second : 3
opretion : **
125

In [7]:
## Determine the ticket price by age 

age = int(input("Enter your age : "))
is_student = input("Are you a student ? (yes/no):")

if age<5:
    price = "free"
elif age<=10:
    price = "$10"
elif age<=15:
    if is_student=="yes":
        price = "$12"
    else :
        price = "$15"
elif age<=18:
    if is_student=="yes":
        price = "$20"
    else :
        price = "$30"
elif age<=40:
    if is_student=="yes":
        price = "$40"
    else :
        price = "$50"
elif age>40: 
    if is_student=="yes":
        price = "$100"
    else :
        price = "$1K"

print("ticket price :", price)

ticket price : $20

## Variable

In [9]:
## THE TOPIC IS ABOUT VARIABLE 
name = "lakhan"
age = 18; sub_ject = "cs hons"
Iam_student = True

print("name:",name)
print("age:",age)
print("Iam_student:",Iam_student)

name: lakhan
age: 18
Iam_student: True

In [10]:
##CONVERSION OF DATA TYPE OR VAR TYPE
# int -> bool 
age1 = bool(age)
type(age1)
print(type(age1))

<class 'bool'>

In [11]:
# int -> string
age2 = str(age)
print(age2)
print(type(age2))

# int --> float
cls = 12
print(float(cls))
print(type(float(cls)))

18
<class 'str'>
12.0
<class 'float'>

In [12]:
## float -> int
height = 5.5
print(int(height))

5

In [13]:
## python allow to use diff. value in same var. 
var = "lakhan-cs"  
print(var, type(var))

var = 12
print(var, type(var))

var = False
print(var, type(var))

lakhan-cs <class 'str'>
12 <class 'int'>
False <class 'bool'>

In [14]:
## INPUT 
name = input("what is my name")
print(name, type(name)) # here input box opened where i gave my input

Lakhan-cs <class 'str'>

In [15]:
age = str(input("what is my age"))
print(age, type(age))

18 <class 'str'>