## Loop in python

In [1]:
for i in range(10, 20):
    print(i)

10
11
12
13
14
15
16
17
18
19

In [2]:
for i in range(3, -50, -5):
    print(i)

3
-2
-7
-12
-17
-22
-27
-32
-37
-42
-47

In [3]:
# with string
str="lakhan lal yadav"
for i in str:
    print(i)

l
a
k
h
a
n

l
a
l

y
a
d
a
v

In [4]:
# while loop 
count = -5

while count%2==0:
    print(count)

while (count%5==0) and (count>-10000):
    print(count)
    count = count*2

-5
-10
-20
-40
-80
-160
-320
-640
-1280
-2560
-5120

In [5]:
# Loop controll statement break and continue
for i in range(2,20):
    if i>=15:
        break
    if i%2==0:
        continue
    print(i)

3
5
7
9
11
13

In [6]:
# Nested loop 
for i in range(5):
    for j in range(2):
        print(f"i : {i} and j : {j} = {i and j}")

i : 0 and j : 0 = 0
i : 0 and j : 1 = 0
i : 1 and j : 0 = 0
i : 1 and j : 1 = 1
i : 2 and j : 0 = 0
i : 2 and j : 1 = 1
i : 3 and j : 0 = 0
i : 3 and j : 1 = 1
i : 4 and j : 0 = 0
i : 4 and j : 1 = 1

## Calculate the sum of first natural num using loop

In [8]:
n = int(input("0-n first num sum : ")) # we can directly put value of n

sum=0
count=1

while count<=n:
    sum = sum + count 
    count = count + 1 
    print(f"The sum of first {count-1} natural num is : {sum}")

The sum of first 1 natural num is : 1
The sum of first 2 natural num is : 3
The sum of first 3 natural num is : 6
The sum of first 4 natural num is : 10
The sum of first 5 natural num is : 15
The sum of first 6 natural num is : 21
The sum of first 7 natural num is : 28
The sum of first 8 natural num is : 36
The sum of first 9 natural num is : 45
The sum of first 10 natural num is : 55

In [11]:
n=int(input("Enter a natural num : "))
sum=0
for i in range(n+1):
    sum = sum + i 
print(f"The sum of first {n} natural num is : {sum}")

The sum of first 15 natural num is : 120

In [12]:
# find all prime num between 1 - 100 

for num in range(1, 101):
    if num>1:
        for i in range(2, num):
            if num%i==0:
                break
        else : 
            print(num)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97